h2 {
  text-align: center;
}

.h-100 {
  background-color: #2F3035;
  position: relative;
  background-image: url(../../assets/images/Background-Course6.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


h2 {
color: green;
}  


.description {
color: purple;
text-align: center;
font-weight: bold;
font-size: larger;
}
