.formcontainer {
    background-color: #2F3035;
    background-image: url(../../assets/images/Background-Course1.jpg);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: top; 
    
  }


